name: Iris ML CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirement.txt

    - name: Run training
      run: |
        python train.py

    - name: Verify model exists
      run: |
        if [ ! -f model.pkl ]; then
          echo "Model not created"
          exit 1
        fi

    - name: Pipeline complete
      run: echo "CI pipeline finished successfully"


     - name: Upload model artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: model.pkl
